/* Font Face */
@font-face {
    font-family: SentinelBook;
    src: url(assets/fonts/Sentinel-Book.otf);
}

@font-face {
    font-family: SentinelMedium;
    src: url(assets/fonts/Sentinel-Medium.otf);
}

@media (min-width: 768px) {
    ul.nav {
	position: absolute;
	bottom: 0px;
	right: 40px;
	}
	nav.navbar.navbar-default {
	top: 0px;
	margin-bottom:0px;
	height: 115px;
	border-bottom: 3px #26264A solid;
	background-color: #26264A;
}
}

@media (max-width: 768px) {
    ul.nav.navbar-nav {
	background-color: #26264A;
	right: 40px;
	}

	nav.navbar.navbar-default {
	top: 0px;
	margin-bottom:0px;
	height: 60px;
	border-bottom: 3px #26264A solid;
	background-color: #26264A;
}
	.navbar-default .navbar-collapse {
	border: none;
	background-color: white;
	}
	.in {
		background-color: blue;
	}
}



@media (max-width: 992px) {
    nav.navbar.navbar-default {
    	background-color: #26264A;
    	height: 50px;
	}
	ul.collapse {
		background-color: #26264A
	}
}



}


* /* {
	border-color: black;
	border-style: solid;
	border-width: 2px
} */

a {
	color: #262626;
	font-size: 12pt;
}

p {
	font-size: 14pt;
	font-family: SentinelBook;
}

h1 {
	color: #C0323A;
	font-family: helvetica-bold;
}

nav {
	font-size: 12pt;
	height: 120px;
}


nav.navbar-collapse {
	border: none;
}

.navbar-brand {
	position: relative;
	height: 110px;
}

.navbar-default .navbar-toggle {
    border-color: #C0323A;
    background: #C0323A;
}

.navbar-default .navbar-toggle:hover {
    background: #C0323A;    
}

.navbar-default .navbar-toggle:focus {
    background: #C0323A;    
}

/* Navbar Coloring */

.navbar-default .navbar-nav>li>a {
 	color: #262626;
}

.navbar-default .navbar-nav>li>a:hover {
 	color: #262626;
 	top: 0px;
}

.navbar-default .navbar-nav>li>a:enabled {
 	background: white;
 	color: #262626;
}
.navbar.navbar-default {
	background-color: white;
	border-color:white;
	background-image: none;
	border-bottom: 2px solid #26264A;
}

li {
	margin-left: 10px;
	margin-right: 10px;
}

div.collapse {
	background-color: white;
	border-color: white;
	color: black;
	top: 0px;

}

div.container-fluid {
	background-color: white;
	height: 100%;
	padding: 0px;
	margin:0px;
}

div {
	color: black
}

div.row {
	max-height: 500px;
	min-height: 100px;
	margin: 0px;

}

img.imgcapitol {
	height: 560px;
	padding: 0px;
	margin: 0px;
}

img.smalllogo {
	position:relative;
	left: 40%;
	right: 40%;
	width: 50%;
	top: 10%;
}

img.navlogo {

}

img.navbar-brand {
	position: relative;
	left: 60px;
	padding: 0px;
}

section {
	position: relative;
	overflow: hidden;
	top: 15px;
	padding: 3%;
	height: 100%;
	bottom: 30px;
}

div.textbody {
	position: relative;
	overflow: scroll;
	top: 10px;
	left: 15px;
}

a:link { 
    color: #9292A4;
    text-decoration: none;
    cursor: auto;
}

#main {
	width: 100%;
	height: 60%;
}

div#textbody {
	font-family: helvetica;
	font-size: 24pt;
	
	border-style: solid;
 	border-color: black;
 	border-width: 2px;
 	height:100%;
}
 #test {
 	position: absolute;
 	overflow: hidden;
 	border-style: solid;
 	border-color: black;
 	border-width: 2px
 }
span {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-variant: small-caps;
	padding-top: 6px;
	border-top-color: red;
}

div.ng-scope {
	position:relative;
	overflow: scroll;
	width: 100%;
	max-height: 450px;
	min-height: 100px;
}

aside#cap {
	left:0px;
	padding: 0px;
	padding-left: 0px;
	margin: 0px;
	padding-left: 0px;

}

footer.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   border-top-style: solid;
   border-top-color: #26264A;
   border-width: 4px;
   background: #C5C5D7;
}

/*
Lighter Grey = #C5C5D7
Rose = #FCF5F5
Navy Blue = #26264A
Red = #C0323A
Grey = #9292A4
*/
